doctype html

html
    head
        title Bookstream :: books
        meta(name='books', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='books/stylesheets/books.css')
        script.
            let data = !{JSON.stringify(data)};

            function generateAudiobookTable() {
                let table = document.getElementById('bookTable');

                for (var i = 0; i < data.length; i++) {
                    let book = data[i];

                    let row = document.createElement('tr');
                    let isbn = document.createElement('th');
                    let title = document.createElement('th');
                    let time = document.createElement('th');
                    let price = document.createElement('th');
                    let publisher = document.createElement('th');
                    let publishedDate = document.createElement('th');

                    row.id = 'row_' + i;

                    isbn.innerText = book.ISBN;
                    title.innerText = book.title;
                    time.innerText = book.running_time;
                    price.innerText = book.purchase_price;
                    publisher.innerText = book.publisher_name;
                    publishedDate.innerText = book.published_date;

                    row.appendChild(isbn);
                    row.appendChild(title);
                    row.appendChild(time);
                    row.appendChild(price);
                    row.appendChild(publisher);
                    row.appendChild(publishedDate);

                    table.appendChild(row);
                }
            }

            window.onload = generateAudiobookTable;
    body
        header(id='navigate_bar', class='navigate_bar')
            .navbarContainer
                nav(class='navbar navbar-light')
                    .navbar-collapse(id='header_navigator')
                        center
                            a(class='nav-link', href='/', title='go to homepage', id='homeButton')
                                img(src='../public/images/logo.png', id='home_link_image')
        .books
            center
                h1 List of all audiobooks
                h3 If you want to view the reviews of specific book, type the ISBN of that book.
            form(method='POST', action='/reviews')
                input(type='text' name='isbn' placeholder='ISBN')
                button(type='submit', id='isbnSearchButton') Search
            table(id='bookTable' class='table')
                tr(id='audiobookFields')
                    th ISBN
                    th Title
                    th Running Time
                    th Price
                    th Publisher
                    th Published Date