doctype html

html
    head
        title Bookstream :: ratings
        meta(name='ratings', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='ratings/stylesheets/ratings.css')
        script.
            let data = !{JSON.stringify(data)};

            function generateReviewTable() {
                let ratingList = document.getElementById('ratings');

                if (data[0]) {

                    let parent = undefined;

                    let table = undefined;
                    let title = undefined;
                    let titleDiv = undefined;

                    for (var i = 0; i < data.length; i++) {
                        let review = data[i];

                        let tempTitle = review.title;

                        if (title != tempTitle) {

                            if (table) {
                                parent.appendChild(titleDiv);
                                parent.appendChild(table);
                                ratingList.appendChild(parent);
                            }
                            title = tempTitle;
                            titleDiv = document.createElement('div');
                            titleDiv.innerText = review.FullName + ': ' + title;
                            titleDiv.className = 'authorAndTitle';

                            parent = document.createElement('div');
                            parent.className = 'reviewDiv';

                            table = document.createElement('table');

                            let row = document.createElement('tr');

                            let th1 = document.createElement('th');
                            let th2 = document.createElement('th');
                            th1.innerText = 'Comment';
                            th2.innerText = 'Rating';

                            row.appendChild(th1);
                            row.appendChild(th2);
                            table.appendChild(row);
                        }

                        let row = document.createElement('tr');

                        let rating = document.createElement('th');
                        let comment = document.createElement('th');

                        rating.innerText = review.rating;

                        comment.innerText = review.comment;

                        row.appendChild(comment);
                        row.appendChild(rating);

                        table.appendChild(row);
                    }

                    parent.appendChild(titleDiv);
                    parent.appendChild(table);
                    ratingList.appendChild(parent);

                } else {
                    alert('no review exists!');
                }
            }

            window.onload = generateReviewTable;
    body
        header(id='navigate_bar', class='navigate_bar')
            .navbarContainer
                nav(class='navbar navbar-light')
                    .navbar-collapse(id='header_navigator')
                        center
                            a(class='nav-link', href='/', title='go to homepage', id='homeButton')
                                img(src='../public/images/logo.png', id='home_link_image')
        .ratings
            center
                h2 All reviews ordered by rating.
            .reviews(id='ratings' class='ratingList')