header {
    height: 8vmax;
}

img {
    height: 8vmax;
}

body {
    padding-top: 10px;
    padding-right: 20vw;
    padding-left: 20vw;
}

h2 {
    color: red;
    margin-top: 5vmax;
    margin-bottom: 3vmax;
}

table {
    margin-bottom: 5vmax;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}
