header {
    height: 8vmax;
}

img {
    height: 8vmax;
}

.index {
    margin-top: 5vmax;
}

.navigateBar {
    margin: 8vmax 25px;

    position: fixed;
    right: 20vw;

    display: flex;
    justify-content: center;

    color: inherit;
    font-family: inherit;
    text-align: center;
}

.navigateBar ul {
    list-style: none;

    display: flex;
    font-family: inherit;
    flex-direction: row;
}

.navigateBar li {
    margin-left: 10vmin;
    margin-right: 10vmin;
    position: relative;
    font-size: 1.3vmax;
}